{% extends 'base.html.twig' %}

{% block title %}Modifier une école{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier une école</h1>

        {{ include('school/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_school_index') }}" class="btn btn-secondary">Retour à la liste</a>

        {{ include('school/_delete_form.html.twig') }}
    </div>
{% endblock %}