{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block stylesheets %}
<style>
h1 {
color: blue;
text-align: center;
font-family: sans-serif;
}
</style>
{% endblock %}

{% block body %}
<h1>Create new Student</h1>

{{ include('student/_form.html.twig') }}

<a href="{{ path('app_student_index') }}" style="text-decoration: none; font-size: 1.5em;">Back to list</a>

{% endblock %}

{# DON'T DO THIS: this simple check can't differentiate between a form having
    a parent form view and a form defining a nested form field called 'parent' #}

 {% if form.parent is null %}
     {{ form_errors(form) }}
 {% endif %}

{# DO THIS: this check is always reliable, even if the form defines a field called 'parent' #}

 {% if form is rootform %}
     {{ form_errors(form) }}
 {% endif %}